*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    position: relative;
    display: flex;
    list-style-type: none;
    background-color: #2b2a29;
    line-height: 48px;
}
a{
    text-decoration: none;
    color: white;
}
ol li{
    flex-grow: 1;
    text-align: center;
}
header{
    margin: auto;
    width: 80%;
}
li:first-child, li:last-child{
    position: absolute;
    border-top: 51px solid #2b2a29;
    border-left: 43px solid transparent;
    border-right: 50px solid transparent;
    left: -43px;
    top: -2.5px;
}
li:last-child{
    right: -50px;
    left: unset;
}
.banner{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}